<div class="activitypage">
<div id="acticon"><img src="{{acticon}}"></div>
<div id="bestact">{{bestact}}</div>
<div id="youcan">{{youcan}}</div>
<div id="youcancontent">{{youcancontent}}</div>
<div id="location">{{location}}</div>
<div id="locationcontent">{{locationcontent}}</div>
<div id="no">{{no}}</div>
<div id="nocontent">{{nocontent}}</div>
<div id="suggest"><a href="#">Suggest Activity</a></div>
</div>
<style type="text/css">
.activitypage{
 	font-size:25px;
 	text-align:center;
 }
 #acticon{
 	display: 60%;
 }
#bestact{
	font-size:30px;
	padding-bottom:5px;
}
#youcan{
	font-size:25px;
}
#youcancontent{
	font-size:20px;
}
#location{}
#locationcontent{
	font-size:20px;
}
#no{}
#nocontent{
	font-size:20px;
}
</style>
<script>
$(document).ready(function(){
	$("#suggest a").click(function() { loadMainContent("/addactivity/LaJolla/run") });
});
</script>