<!--link href="/css/beach.css" rel="stylesheet"-->

<div class="beachcontent">
<div class="headline">
<div class="arrow"><a href="#"><img src="/images/arrowicon.png"></a></div><div class="pagename">{{beachname}}</div>
<div class="home"><a href="#"><img src="/images/homeicon.png"></a></div></div>

<div style="clear:both;"></div>
<div class="centercontent">
<div class="sidebar">
	<div class="iconname" id="weather"><a href='#'><img src="/images/weathericon.png" class="img-responsive"></a></div>
	<div class="iconname" id="surf"><a href='#'><img src="/images/surficon.png" class="img-responsive"></a></div>
	<div class="iconname" id="map"><a href='#'><img src="/images/mapicon.png" class="img-responsive"></a></div>
	<div class="iconname" id="activity"><a href='#'><img src="/images/activityicon2.png" class="img-responsive"></a></div>
	<div class="iconname" id="crowd"><a href='#'><img src="/images/crowdicon.png" class="img-responsive"></a></div>
</div>
<div style="clear:both;"></div>
<div class="sbcontent">
	<!-- page content for the beach --> 
</div>
</div><!-- end center content -->
<div style="clear:both;"></div>
</div> <!-- end beach content -->
<script type="text/javascript">
function loadWeather(){
	var weatherRequest = "http://api.openweathermap.org/data/2.5/weather?lat=32.8608&lon=-117.2569";
	$( ".sbcontent" ).load( "/weather/{{stringname}}" , errorResponse );}
function loadSurf(){$(".sbcontent").load("/surf/{{stringname}}",errorResponse);}
function loadActivity(){$(".sbcontent").load("/activity/{{stringname}}",errorResponse);}
function loadCrowds(){$(".sbcontent").load("/crowds/{{stringname}}",errorResponse);}
function loadMap(){$(".sbcontent").load("/map/{{stringname}}", errorResponse);}
function parseweather(result){
	console.log(result);
}
$( document ).ready(function() {
	loadWeather();
	//$(".sidebar").click( function(){ expandSidebar(); } );
	$(".arrow a").click(function() { loadMainContent("beachlist") });
	$(".home a").click(function() { window.location.href="/"; });
	$("#surf a").click(function(){ loadSurf()});
	$("#weather a").click(function(){loadWeather(); });
	$("#activity a").click(function(){loadActivity(); });
	$("#map a").click(function(){loadMap();});
	$("#crowd a").click(function(){loadCrowds() });
	$("#login a").click( function(){ loadMainContent("LOGIN") });
	$("#help a").click(function() { loadMainContent("HELP"); }); 
	});
</script>
