<div class="beachcontent">
<div class="headline">
<div class="arrow"><a href="#"><img src="/images/arrowicon.png"></a></div><div class="pagename" id="topnavname">{{beachname}}</div>
<div class="home"><a href="#"><img src="/images/homeicon.png"></a></div></div>

<div style="clear:both;"></div>
<div class="centercontent">
<div class="sidebar">
	<div class="iconname" id="weather"><a href='#'><img src="/images/weathericon.png" class="img-responsive"></a></div>
	<div class="iconname" id="surf"><a href='#'><img src="/images/surficon.png" class="img-responsive"></a></div>
	<div class="iconname" id="map"><a href='#'><img src="/images/mapicon.png" class="img-responsive"></a></div>
	<div class="iconname" id="activity"><a href='#'><img src="/images/activityicon2.png" class="img-responsive"></a></div>
	<div class="iconname" id="crowd"><a href='#'><img src="/images/crowdicon.png" class="img-responsive"></a></div>
</div>
<div style="clear:both;"></div>
<div class="sbcontent">
	<!-- page content for the beach --> 
</div>
</div><!-- end center content -->
<div style="clear:both;"></div>
</div> <!-- end beach content -->
<script type="text/javascript">
var lastIcon = '/images/weathericon.png';
var currentPage = "#weather img";
function loadWeather(){
	$(currentPage).attr('src',lastIcon);
	lastIcon = $('#weather img').attr('src');
	currentPage = "#weather img";
	$('#weather img').attr('src','/images/rheart.png');
	var weatherRequest = "http://api.openweathermap.org/data/2.5/weather?lat=32.8608&lon=-117.2569";
	$( ".sbcontent" ).load( "/weather/{{stringname}}" , errorResponse );
}

function loadSurf(){
	$(currentPage).attr('src',lastIcon);
	currentPage = "#surf img";
	lastIcon = $('#surf img').attr('src');
	$('#surf img').attr('src','/images/surficonC.png');
	$(".sbcontent").load("/surf/{{stringname}}",errorResponse);
	
}
function loadActivity(){
	$(currentPage).attr('src',lastIcon);
	currentPage = "#activity img"
	lastIcon = $('#activity img').attr('src');
	$('#activity img').attr('src','/images/rheart.png');
	$(".sbcontent").load("/activity/{{stringname}}",errorResponse);
	}

function loadCrowds(){
	$(currentPage).attr('src',lastIcon);
	currentPage = "#crowd img";
	lastIcon = $('#crowd img').attr('src');
	$('#crowd img').attr('src','/images/crowdiconC.png');
	$(".sbcontent").load("/crowds/{{stringname}}",errorResponse);
	}
function loadMap(){
	$(currentPage).attr('src',lastIcon);
	currentPage = "#map img";
	lastIcon = $('#map img').attr('src');
	$('#map img').attr('src','/images/mapiconB.png');
	$(".sbcontent").load("/map/{{stringname}}", errorResponse);
	}
function parseweather(result){
	console.log(result);
}
$( document ).ready(function() {
	loadWeather();
	//$(".sidebar").click( function(){ expandSidebar(); } );
	$(".arrow a").click(function() { loadMainContent("beachlist") });
	$(".home a").click(function() { window.location.href="/"; });
	$("#surf a").click(function(){ loadSurf()});
	$("#weather a").click(function(){loadWeather(); });
	$("#activity a").click(function(){loadActivity(); });
	$("#map a").click(function(){loadMap();});
	$("#crowd a").click(function(){loadCrowds() });
});
</script>