<div class="crowdalert">
<div id="crowdpage"> Crowd-O-Meter </div>


<div id="explain"> Beach Bum, click the icons to update Crowd-o-meter</div>

<!-- last update went away, when i first log into the page, the time is wrong, moving the Thanks! to the bottom of the page?  -->

<div id="hottiealert"> Hottie Alert: 
	<div id="hottieview"><div id="1"><a href="#"><img src="/images/gheart.png" class="img-responsive"></a></div>
<div id="2"><a href="#"><img src="/images/gheart.png" class="img-responsive"></a></div>
<div id="3"><a href="#"><img src="/images/gheart.png" class="img-responsive"></a></div>
</div>

<div style="clear: both;"></div>
</div>

<div id="crowdicons"> Crowd Alert: </div>

<div id="crowdlayout">
<div class="buttonppl" id="lcrowd"><a href="#"><img src="/images/1person.png" class="img-responsive buttonppl"></a></div>
<div class="buttonppl" id="mcrowd"><a href="#"><img src="/images/2person.png" class="img-responsive buttonppl"></a></div>
<div class="buttonppl" id="hcrowd"><a href="#"><img src="/images/3person.png" class="img-responsive buttonppl"></a></div>
<div style="clear: both;"></div>
</div>

<div id="confirmation"></div>

{{#with crowd}}
<div id="crowdstatus">{{status}}</div>
<div id="lastupdate"> last update: {{lastupdate}} </div>
{{/with}}


<!-- </div> -->


<!-- This updates the beach crowd status when one user clicks a crowd icon. I don't think we need both the "packed like sardines" and this update. -->

<style>
#crowdicons{font-size:27px;}
#crowdstatus a:visited {color:#EF4444;}
div #crowdstatus{
	font-size: 25px;
	text-align: center;
	color:#EF4444 !important;

}
#hottieview{margin-left:20%;}

#lastupdate{
	font-size: 20px;
	text-align: center;
}
div #crowdlayout{
	margin:1% auto;
	text-align: center;
}
.crowdalert{
	text-align: center;
	letter-spacing: 1.5px;
 	margin-left:auto;
 	/*padding-right:50px;*/
}
#iconfloat{
	margin-left:22%;
}

#hottiealert img{
	width:16%;
	height: 16%;
	float:left;
	margin-left: 20px;
}
#crowdpage{
	/*color: #2a6496;*/
	font-size: 40px;
	padding-top: 15px;
	padding-bottom: 5px;
}
#crowdtime{font-size: 35px;}
#hottiealert{
	font-size: 27px;
	padding-bottom:20px;
}
#lcrowd img{
	/*float: right;*/
	margin-right: 10px;
	display: inline-block;
}
#mcrowd img{
	/*float: right;*/
	margin-right:10px;
	display: inline-block;
}
#hcrowd img{
	/*float: right;*/
	padding-right:0px;
	display: inline-block;
}
.buttonppl{display:inline-block; height:50px;}
.buttonppl{height:50px;width: 50px;}
#confirmation{
	font-size: 20px;
	color:#333333;
}
</style>
<script type="text/javascript">

function localize(t){
  var d=new Date(t+" UTC");
  return d;
  //document.write(d.toString());
}
//this portion of the script gets the current time
$("div #crowdtime").html("<p>"+getRealtime()+"</p>");
{{#if ucrowd}}
$("#confirmation").html("Thanks for updating the Crowd-o-meter");
var reload = setInterval(function(){
	$("#confirmation").html("");
	clearInterval(reload);
}, 3000);
{{/if}}
function loadUpdateCrowd(name){$(".sbcontent").load(name, errorResponse);}
$(document).ready(function(){
	$("#lcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/low");});
	$("#mcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/medium");});
	$("#hcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/high");});
	$("#1 a").click(function(){loadUpdateCrowd("/updatehottie/{{name}}/1");});
	$("#2 a").click(function(){loadUpdateCrowd("/updatehottie/{{name}}/2");});
	$("#3 a").click(function(){loadUpdateCrowd("/updatehottie/{{name}}/3");});

	$("div #lastupdate").html("<p> Last update: "+getLocalize(localize("{{crowd.lastupdate}}"))+"</p>");

if("{{crowd.status}}" == "high") {
	$("div #crowdstatus").html("High: Packed like sardines!");

}else if("{{crowd.status}}" == "medium") {
		$("div #crowdstatus").html("Medium: Room for a beach towel fort.");
	}
		else if ("{{crowd.status}}" == "low") {
				$("div #crowdstatus").html("Low: is this a zombie apocalypse or where is everyone?");
			}

	$('#1 img').attr('src','/images/gheart.png');
	$('#2 img').attr('src','/images/gheart.png');
	$('#3 img').attr('src','/images/gheart.png');
	console.log({{crowd.hottie}});
	switch('{{crowd.hottie}}'){
		case '3':
			$('#3 img').attr('src','/images/rheart.png');
		case '2':
			$('#2 img').attr('src','/images/rheart.png');
		case '1':
			$('#1 img').attr('src','/images/rheart.png');
		break;
	}
});
</script>