<div class="crowdalert">
<div id="crowdpage"> Crowd-O-Meter </div>
<div id="crowdtime"> </div>
<div id="crowd"> High: Packed like Sardines </div>

<div id="hottiealert"> Hottie Alert: <img src="/images/gheart.png" class="img-responsive"> <img src="/images/rheart.png" class="img-responsive"> <img src="/images/rheart.png" class="img-responsive"><img src="/images/rheart.png" class="img-responsive"> </div>
</div>

<div style="clear: both;"></div>
<div class="buttonppl" id="hcrowd"> Crowd Alert:<a href="#"><img src="/images/3person.png" class="img-responsive"></a></div>
<div class="buttonppl" id="mcrowd"><a href="#"><img src="/images/2person.png" class="img-responsive"></a></div>
<div class="buttonppl" id="lcrowd"><a href="#"><img src="/images/1person.png" class="img-responsive"></a></div>
</div>
<div style="clear: both;"></div>
{{#with crowd}}
<div id="crowdstatus">{{status}}</div>
<div id="lastupdate">last update: {{lastupdate}}</div>
{{/with}}

<style>
#crowdstatus{
	font-size: 30px;
	text-align: center;
}
#lastupdate{
	font-size: 20px;
	text-align: center;
}
.crowdalert{text-align: center;letter-spacing: 1.5px;}
#hottiealert img{
	width:12%;
	height: 12%;
	float: right;
	margin-right: 10px;
}
#crowdpage{
	/*color: #2a6496;*/
	font-size: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#crowd{
	color: #ef4444;
	font-size: 35px;
	margin-bottom: 5px;
}
#crowdtime{
	font-size: 35px;
}

#hottiealert{
	font-size: 27px;
}
#lcrowd img{
	float: right;
	width: 12%;
	color: black;
	margin-right: 10px;
}
#mcrowd img{
	float: right;
	width: 12%;
}
#hcrowd img{
	float: right;
	width: 12%;
}
.buttonppl{
}


</style>
<script type="text/javascript">
//this portion of the script gets the current time
$("div #crowdtime").html("<p>"+getRealtime()+"</p>");

function loadUpdateCrowd(name){$(".sbcontent").load(name, errorResponse);}

$(document).ready(function(){
	$("#lcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/low");});
	$("#mcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/medium");});
	$("#hcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/high");});
});
</script>