<div class="crowdalert">
<div id="crowdpage"> Crowd-O-Meter </div>

<div id="alerttag"> Hottie Alert: </div><div id="iconlayout">
<div class="buttonppl" id="1"><a href="#"><img src="/images/gheart.png" class="img-responsive buttonppl"></a></div>
<div class="buttonppl" id="2"><a href="#"><img src="/images/gheart.png" class="img-responsive buttonppl"></a></div>
<div class="buttonppl" id="3"><a href="#"><img src="/images/gheart.png" class="img-responsive buttonppl"></a></div>
<div style="clear: both;"></div></div>

<div id="hottiestatus" class="statustag"></div>

<div id="alerttag"> Crowd Alert: </div><div id="iconlayout">
<div class="buttonppl" id="lcrowd"><a href="#"><img src="/images/1person.png" class="img-responsive buttonppl"></a></div>
<div class="buttonppl" id="mcrowd"><a href="#"><img src="/images/2person.png" class="img-responsive buttonppl"></a></div>
<div class="buttonppl" id="hcrowd"><a href="#"><img src="/images/3person.png" class="img-responsive buttonppl"></a></div>
<div style="clear: both;"></div></div>

<div id="confirmation"></div>

{{#with crowd}}
<div id="crowdstatus" class="statustag">{{status}}</div>
<div id="lastupdate"> last update: {{lastupdate}} </div>
{{/with}}

<style>
#alerttag{font-size:27px;}
#crowdstatus a:visited {color:#EF4444;}
div .statustag{font-size: 25px;text-align: center;color:#EF4444 !important;}
#lastupdate{font-size: 20px;text-align: center;}
#iconlayout{margin:1% auto;}
.crowdalert{text-align: center;letter-spacing: 1.5px;margin-left:auto;}
#crowdpage{font-size: 40px;padding-top: 15px;padding-bottom: 5px;}
#crowdtime{font-size: 35px;}
.buttonppl{display:inline-block; height:50px;/*width: 50px;*/margin:0 0px;
	background-color:rgba(255,255,255, .1); /*background-color:#F0DE62;#f0de63*/
	-moz-border-radius: 12px; /* FF1+ */
	-webkit-border-radius: 12px; /* Saf3-4 */
  	border-radius: 12px; /* Opera 10.5, IE 9, Saf5, Chrome */
box-shadow: 2px 2px #d3d3d3;}
div a{display:block;margin: 0 auto;}
#confirmation{font-size: 20px;color:#333333;}
</style>
<script type="text/javascript">

function localize(t){
  var d=new Date(t+" UTC");
  return d;
  //document.write(d.toString());
}
//this portion of the script gets the current time
$("div #crowdtime").html("<p>"+getRealtime()+"</p>");

{{#if ucrowd}}
$("#confirmation").html("Thanks for updating the Crowd-o-meter");
var reload = setInterval(function(){
	$("#confirmation").html("");
	clearInterval(reload);
}, 3000);
{{/if}}

function loadUpdateCrowd(name){$(".sbcontent").load(name, errorResponse);}
$(document).ready(function(){
	$("#lcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/low");});
	$("#mcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/medium");});
	$("#hcrowd a").click(function(){loadUpdateCrowd("/updatedcrowd/{{name}}/high");});
	$("#1 a").click(function(){loadUpdateCrowd("/updatehottie/{{name}}/1");});
	$("#2 a").click(function(){loadUpdateCrowd("/updatehottie/{{name}}/2");});
	$("#3 a").click(function(){loadUpdateCrowd("/updatehottie/{{name}}/3");});

	$("div #lastupdate").html("<p> Last update: "+getLocalize(localize("{{crowd.lastupdate}}"))+"</p>");

	//status for hottie
	if("{{crowd.hottie}}" == "3")
		$("div #hottiestatus").html("Burning hot!");
	else if("{{crowd.hottie}}" == "2")
		$("div #hottiestatus").html("Luke Warm!");
	else if ("{{crowd.hottie}}" == "1")
		$("div #hottiestatus").html("Chillin'!");

	//crowd status
	if("{{crowd.status}}" == "high"){
		$("div #crowdstatus").html("High: Packed like sardines!");
		$('#hcrowd img').attr('src','/images/3bcrowd.png');
	} else if("{{crowd.status}}" == "medium"){
		$("div #crowdstatus").html("Medium: Room for a beach towel fort.");
		$('#mcrowd img').attr('src','/images/2bcrowd.png');
	} else if ("{{crowd.status}}" == "low"){
		$("div #crowdstatus").html("Low: is this a zombie apocalypse or where is everyone?");
		$('#lcrowd img').attr('src','/images/1bcrowd.png');
	}

	$('#1 img').attr('src','/images/gheart.png');
	$('#2 img').attr('src','/images/gheart.png');
	$('#3 img').attr('src','/images/gheart.png');
	switch('{{crowd.hottie}}'){
		case '3':
			$('#3 img').attr('src','/images/rheart.png');
		case '2':
			$('#2 img').attr('src','/images/rheart.png');
		case '1':
			$('#1 img').attr('src','/images/rheart.png');
		break;
	}
});
</script>