<div class="activitypage">
	<div id="pagetitle">Suggest</div>
	<div class="actlist"> 
	{{#each activity}}
	<a id="{{name}}" href="#" ><div class="activity">
			<div id="name" >{{name}}</div>
			<div id="count">{{count}} Counts</div>
		</div></a>
		{{/each}}
	</div>
</div>
<style type="text/css">
.activitypage{
 	font-size:25px;
 	text-align:center;
 	margin-left:auto;
 	padding-right:50px;
 }
 #pagetitle{
 	padding-top:5px;
 	font-size:40px;
 	letter-spacing: 1.5px
 }
 #acticon{
 	width: 60%;
 	margin-left:auto;
	margin-right:auto;

 }
#bestact{
	font-size:30px;
	padding-bottom:5px;

}
#youcan{
	font-size:25px;
}
#youcancontent{
	font-size:20px;
}
.actlist{
width:100%;
}
#name{
	width:50%;
	float:left;
}
#votes{
	width:50%;
	float:right;
}
#suggest{
padding-top:5px;
font-size: 27px;
font-color:#333333;
height: 40px; /* height for all three buttons on front page*/
width:170px;
background: none;
margin-left:auto;
margin-right:auto;

}
</style>
<script>
var beachloc = "{{name}}";
$(document).ready(function(){
	{{#each activity}}
	$("a[id=\"{{name}}\"]").click(function(){$(".sbcontent").load("/addactivity/"+beachloc+"/{{name}}", errorResponse);
	});
	{{/each}}
});
</script>