<link href="/css/surf.css" rel="stylesheet">
<div class="weather">
<!--<div class="title">{{beachname}}</div> -->
<div class="comment">{{comment}}</div>
<div class="height">{{height}}</div>
<div class="high"> {{high}} </div>
<div class="low"> {{low}}</div> 
<div class="wind"> {{wind}}</div> 
<div class="h2o"> {{h2o}}</div> 
</div>
